.header {
  text-align: center;
  margin: auto;
  height: auto;
  background-color: rgba(165, 105, 65, 0.342);
}
.input-container {
  margin-top: 50px;
  text-align: center;
  position: relative;

  
}
.container {
  height: 100vh;
  width: 100%;
  background-color: wheat;

}
.result-container{
 display: flex;
 justify-content: center;
 text-align: center;
 
}
